{% extends "layout.html" %}

{% block content %}

	<h2>Carte de rareté  <span style="color: {{rarity.color}}"> {{rarity.name}}</span></h2>
	
	{% for p in cartes %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/{{p._id}}">
					<div >
						<img src="/uploads/{{p.picture}}" alt="{{p.name}}" style="width:75px;">
						<div class="carteMoz">{{p.name}}</div>
					</div>
				</a>
			</div>
			<div class="panel-body">
				{{p.description}}
			</div>
		</div>
	{% endfor %}

{% endblock %}