
.container{
    height: 100%; 
}

.mainContent{
    height: 100%; 
}

/*******************
    Layout.html
*******************/

.navBar{
    height: 40px; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 
    padding : 5px 10px; 

    button{
        border: none; 
        background-color: #3A87DD; 
        border-radius: 5px;
        margin: 0 10px; 
        font-size: 12px; 
        padding: 4px; 
    }
}

.formTrep{
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 25px;  
    height: auto; 
    width: 50%;
    background-color: white; 
    border: 5px solid  rgba(58, 135, 221, 1);
    border-radius: 5px;
    color: black; 

    h2{
        text-align: center; 
        margin-bottom: 25px; 
    }

    input{
        width: 100%; 
        padding: 5px; 
        margin: 5px 0px 10px 0px;
    }
    
    button{
        width: 100%; 
        background-color:  rgba(58, 135, 221, 0.8);
        border-radius: 5px; 
        color: white; 
        padding: 5px; 
    }
}


/*******************
    Index.html
*******************/

.header{
    height: 50%;
    width: 60%;
    margin:0 auto; 
    margin-top: 50px;  
    background: rgba(0, 0, 0, 0.5);  
}

// liste member


.listMember{
    height: auto;
    width: 60%;
    margin:0 auto;
    
}

.rowMember{
    margin-top: 25px;  
    display: flex;
    background: rgba(0, 0, 0, 0.5); 
}



// chat message 

.chat{
    position: fixed; 
    top:0; 
    left:0; 
    display : flex; 
    padding-bottom: 75px; 
    height: 100%; 
    width: 20%;


    ul{
        display: flex; 
        flex-flow: column nowrap; 
        justify-content: flex-end; 
        
        li{
            font-size: 10px; 
            line-height: 12px; 
            margin-top: 5px; 
            padding: 5px; 
            background: rgba(0, 0, 0, 0.7);
        }
    }

    div{
        position: absolute; 
        bottom: 0; 
        
        input{
            height: auto; 
            width: 100%; 
            padding: 5px; 
            word-break: break-all; 
            color: black;
            font-size: 10px;  
        }
    
        button{
            width: 100%;
            background-color: #3A87DD; 
            border: none; 
            cursor: pointer;
        }
    }

}

