
.container{
    height: 100%; 
}

.mainContent{
    height: 100%; 
}

.btnDisable{
   background-color: grey !important;
   text-decoration: line-through black;
}

.UpperBold{
    // text-shadow: 0px 1px 1px #545454; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.5); 
    font-family: "clashRoyalBold";
    text-transform: uppercase;
}

.lowerBold{
    // text-shadow: 0px 1px 1px #545454; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.5); 
    font-family: "clashRoyalBold";
}
/*******************
    Layout.html
*******************/

// Barre de navigation
.navBar{
    position:fixed; 
    top:0px; 
    width: 100%; 
    height: 30px; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 
    align-items: center; 
    padding : 5px 10px; 
    //border-bottom: 2px solid #3A87DD; 

    button{
        border: none; 
        background-color: #3A87DD; 
        border-radius: 5px;
        margin: 0 10px; 
        font-size: 12px; 
        padding: 4px; 
    }
}


// formulaire
.formTrep{
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 25px;  
    height: auto; 
    width: 50%;
    background-color: white; 
    border: 5px solid  rgba(58, 135, 221, 1);
    border-radius: 5px;
    color: black; 
    z-index: 9; 

    h2{
        text-align: center; 
        margin-bottom: 25px; 
    }

    input{
        width: 100%; 
        padding: 5px; 
        margin: 5px 0px 10px 0px;
    }
    
    button{
        width: 100%; 
        background-color:  rgba(58, 135, 221, 0.8);
        border-radius: 5px; 
        color: white; 
        border: none; 
        padding: 5px; 
        
    }
}


/*******************
    receiveMessage.html
*******************/

.receiveMessage{
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    justify-content: space-between; 
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;  
}

.validMsg{ 
    position: fixed; 
    top: 50px;
    left: 0px; 
    background-color: rgba(97, 214, 113, 0.8); 
}

.errorMsg{
    background-color: rgba(189, 67, 65, 0.6);
    margin-top: 50px;  
}

.btnClose{
    height: 20px; 
    width: 20px; 
    border-radius: 50%; 
    border: none; 
    background-color: rgba(0,0,0,0.5); 
    // translate: rotate(45deg); 
    font-size: 13px; 
    text-align: center; 
    line-height: 13px; 
    color: white; 
    padding: 0; 
}


/*******************
    Index.html
*******************/

.headerClan{
    display: flex; 
    flex-flow: column nowrap; 
    align-items: center; 
    height: auto;
    width: 40%;
    margin:0 auto; 
    margin-top: 50px;
    border: 1px solid rgb(57, 99, 146);
    background: rgba(58, 135, 221, .5); 
    border-top-right-radius: 15px; 
    border-top-left-radius: 15px; 
}
.legendClan{
    text-align: center; 
    margin-bottom: 10px;
    span{
      margin: 0; 
    } 
    
    .nameClan{
        text-shadow: 1px 1px 1px rgba(0,0,0,.5); 
        font-family: "clashRoyalBold";
        text-transform: uppercase;
        font-size: 30px; 
    }
}

.descriptionClan{
    text-shadow: 1px 1px 1px rgba(0,0,0,.5); 
    font-size: 15px; 
    line-height: 15px; 
    text-align: center;
    margin-bottom: 5px;  
}

.rankContent{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around;
    width: 100%; 
    margin-top: 10px;  
}

// liste member


.listMember{
    height: auto;
    width: 40%;
    margin:0 auto;
    
}

.rowMember{
    position: relative; 
    margin-top: 25px;  
    // border: 1px solid rgba(58, 135, 221, 1);
    border: 1px solid rgb(57, 99, 146);
    background: rgba(58, 135, 221, .5)

}

.blockItems{
    display: flex;
    flex-flow: row nowrap; 
}

.roleClan{
    font-size: 9px; 
}


.chest{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-evenly; 
    width: calc(100% - 75px); 
    
    .iconChest:nth-child(0){
        height: 30px; 
        width: 20%;
    }
    .iconChest:nth-child(1){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(2){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(3){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(4){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(5){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(6){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(7){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(8){
       height: 30px; 
        width: 20%;
    } 
    .iconChest:nth-child(9){
        height: 30px; 
        width: 20%;
        margin-right: 20px;  
    } 
    .iconChest:nth-child(10){
        height: 40px; 
        width: 20%;
    } 
    .iconChest:nth-child(11){
        height: 40px; 
        width: 20%;
    } 
    .iconChest:nth-child(12){
        height: 40px; 
        width: 20%;
    } .iconChest:nth-child(13){
        height: 40px; 
        width: 20%;
    } 
    .iconChest:nth-child(14){
        height: 40px; 
        width: 20%;
    } 

}

.iconChest{
    display: flex; 
	flex-flow: row nowrap; 
	justify-content: center; 
	align-items: center; 
	height: 75px; 
	width: 75px; 
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;

    margin-bottom: 5px; 
     
}





// chat message 

.chat{
    position: fixed; 
    bottom:0; 
    left:0; 
    display : flex; 
    padding-bottom: 50px; 
    height: calc(100% - 30px);
    width: 25%;



    ul{
        display: flex; 
        flex-flow: column nowrap; 
        justify-content: flex-end;
        width: 100%;  
        
        li{
            font-size: 10px; 
            line-height: 12px; 
            margin-top: 5px; 
            padding: 5px; 
            background: rgba(0, 0, 0, 0.7);
            
        }
    }

    div{
        position: absolute; 
        bottom: 0; 
        
        input{
            height: auto; 
            width: 100%; 
            padding: 5px; 
            word-break: break-all; 
            color: black;
            font-size: 10px;
            border: none; 
        }
    
        button{
            width: 100%;
            font-size: 16px;
            background-color: #3A87DD; 
            border-radius: 5px; 
            border-top-right-radius: 0px; 
            border-top-left-radius: 0px; 
            margin-bottom: 5px; 
            border: none; 
            cursor: pointer;
        }
    }

}

