.navHead{
	position: fixed;
	top: 0;
	display: flex; 
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center; 
	width: 100%; 
	height: 50px;
	background-color: rgba(255, 255, 255, 0.8); 
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);  
   
    img{
        position: absolute;
        top: 10px;  
        left:50%; 
        height: 65px;
        width: auto;
    }
}
