@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Nova+Round|Poiret+One|Share+Tech+Mono|VT323|Varela+Round');
/*
	font-family: 'Varela Round', sans-serif;
	font-family: 'Poiret One', cursive;
	font-family: 'Share Tech Mono', monospace;
	font-family: 'Montserrat Subrayada', sans-serif;

	font-family: 'VT323', monospace; 
	
*/


// icon *************************************/

.leftIcon{
	display: flex;
	flex-flow: row nowrap; 
	align-items: center; 

	span{
		margin: 0px 5px; 
	}
}

.rightIcon{
	display: flex;
	flex-flow: row nowrap; 
	align-items: center;
	span{
		margin: 0px 5px; 
	}
}



.flagClan{
	height: 80px; 
	width: 80px; 
	background-image: url(/images/UIElements/flagCLan.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
// trophies
.trophiesIcon{
	height: 20px; 
	width: 20px; 
	background-image: url(/images/UIElements/trophy.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;
}

.iconLeaderBoardClan{
	height: 20px; 
	width: 20px; 
	background-image: url(/images/UIElements/leaderboard.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;
}

.iconWarTrophyClan{
	height: 20px; 
	width: 20px; 
	background-image: url(/images/UIElements/legendary-trophy.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;
}


// level
.expLevel13{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/13.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel12{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/12.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel11{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/11.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel10{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/10.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel9{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/9.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel8{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/8.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel7{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/7.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel6{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/6.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel5{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/5.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel4{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/4.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel3{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/3.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel2{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/2.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}
.expLevel1{
	height: 25px; 
	width: 25px; 
	background-image: url(/images/Levels/1.png);
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center; 
}



//icon League

.iconLeague{
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: center; 
	align-items: center; 
	height: 75px; 
	width: 75px; 
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;
}

.ultimateChampion{
	background-image: url(/images/Leagues/ultimateChampion.png);
}

.grandChampion{
	background-image: url(/images/Leagues/grandChampion.png);
}

.champion{
	background-image: url(/images/Leagues/champion.png);
}

.master3{
	background-image: url(/images/Leagues/master-iii.png);
}

.master2{
	background-image: url(/images/Leagues/master-ii.png);
}

.master1{
	background-image: url(/images/Leagues/master-i.png);
}

.challenger3{
	background-image: url(/images/Leagues/challenger-iii.png);
}

.challenger2{
	background-image: url(/images/Leagues/challenger-ii.png);
}

.challenger1{
	background-image: url(/images/Leagues/challenger-i.png);
}


// clan

