<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>ROYALE DATA</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/styleFront.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body>
		<header class="navHead">
			<a href="/">
				<img src="/images/LogoRoyaleMetaData.png" alt="">
			</a>
		</header>
		<div class="container">
			
			{% block content %}{% endblock %}
			<hr>
			<div class="text-center">
				Copyright Krash 2018
			</div>
		</div>
	</body>
</html>