{% extends "layout.html" %}

{% block content %}
	<div id="login">
		<form>
			<input type="text" placeholder="Email" name="email" id="email">
			<input type="password" placeholder="Password" name="password" id="password">
			<button type="submit">connexion</button>
		</form>
	</div>
	<div id="profile" style="display: none">
		<button id="disconnectBtn">Déconnexion</button>
		<button id="display-payload">Voir le payload</button>
		<div style="display:inline-flex;" id="decoded-payload"></div>
		<div>
			<a href="#" id="member-only" >espace membre</a>
		</div>
	</div>
	
	<script>
		var form = document.querySelector('form'); 
		form.addEventListener("submit", loginUser); 

		var loginArea = document.querySelector('#login'); 
		var profileArea = document.querySelector('#profile'); 

		var displayPayloadBtn = document.querySelector('#display-payload'); 
		displayPayloadBtn.addEventListener('click', displayPayload);

		var disconnectBtn = document.querySelector('#disconnectBtn'); 
		disconnectBtn.addEventListener('click', disconnect); 

		var accessBtnLink = document.querySelector('#accessBtn'); 
		handleFormDisplay(); 

		var memberOnlyLink = document.querySelector('#member-only');
		memberOnlyLink.addEventListener('click', makeRequestWithToken); 

		function loginUser(event){
			loginUserWithXHR(event);
		}

		function loginUserWithXHR(event){
			event.preventDefault();
			console.log('loginUserWithXHR'); 

			// https:developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send

			var xhr = new XMLHttpRequest(); 
			xhr.open("POST", '/login', true); 

			// send the proper header information alogn with the request

			xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded"); 

			xhr.onreadystatechange = function() { //call a function when the state change.
				if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200){
					var token = xhr.response; 
					localStorage.setItem('token', token);
					switchToLoggedinMode();  
					form.reset(); 
				}
			}

			var email = document.getElementById('email').value; 
			var password = document.getElementById('password').value; 
			var payLoad = "email=" + email + "&" + "password=" + password;
			xhr.send(payLoad); 

		}

		function handleFormDisplay(){
		 	if(localStorage.getItem('token')) {
	            switchToLoggedinMode();
	        } else {
	            switchToLoggedOutMode();
	        }
		}

		function switchToLoggedinMode(){
			loginArea.style.display= 'none';
			profileArea.style.display = 'block';
			accessBtnLink.innerHTML = '<a href="/login">Déconnexion</a>'; 
		}

		function switchToLoggedOutMode(){
			loginArea.style.display= 'block';
			profileArea.style.display = 'none';
			accessBtnLink.innerHTML = '<a href="/login">Connexion</a>'; 
		}

		function displayPayload(){
			var payload = parseJwt();
			var decodedPayloadDiv = document.querySelector('#decoded-payload'); 
			decodedPayloadDiv.innerHTML = '<pre>' + JSON.stringify(payload) + '</pre>';

		}

		function parseJwt() {
			var tokenFromStorage = localStorage.getItem('token'); 
			if(tokenFromStorage) {
				var base64PayLoad = tokenFromStorage.split('.')[1];
				return JSON.parse(window.atob(base64PayLoad)); 
			} else {
				return 'not token to parse'; 	
			}
		}

		function disconnect(){
			switchToLoggedOutMode(); 
			localStorage.removeItem('token'); 
		}

		function makeRequestWithToken(evt){
			evt.preventDefault(); //!
			var page = this.id; 
			var tokenFromStorage = localStorage.getItem('token'); 
			var config = {}; 

			if(tokenFromStorage){
				config.headers = {'Authorization': 'Bearer' + JSON.parse(tokenFromStorage)}
			}

			axios.get(
				'http://localhost:3000/' + page, 
				config
			).then(res => {
				console.log('success');
				console.log(res);
			}).catch( err => {
				console.error('makeRequestWithToken err', err); 
			}); 
		}

	</script>

{% endblock %}