{% extends "layout.html" %}

{% block content %}

	<form method="POST" action="{{endpoint}}" enctype="multipart/form-data">
		<div class="form-group">
			<label for="name">Nom de la carte</label>
			<input type="text" id="name" name="name" class="form-control" value="{{carte.name}}">
		</div>
		<div class="form-group">
			<label for="name">Description carte</label>
			<textarea type="text" id="description" name="description" class="form-control">{{carte.description}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Elixir Cost</label>
			<textarea type="number" id="elixircost" name="elixircost" class="form-control">{{carte.elixircost}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Damage</label>
			<textarea type="number" id="damage" name="damage" class="form-control">{{carte.damage}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Area Damage</label>
			<textarea type="number" id="areadamage" name="areadamage" class="form-control">{{carte.areadamage}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Crown Tower Damage</label>
			<textarea type="number" id="crowntowerdamage" name="crowntowerdamage" class="form-control">{{carte.crowntowerdamage}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">DPS</label>
			<textarea type="number" id="dps" name="dps" class="form-control">{{carte.dps}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">hitPoints</label>
			<textarea type="number" id="hitpoints" name="hitpoints" class="form-control">{{carte.hitpoints}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Speed</label>
			<input type="text" id="speed" name="speed" class="form-control" value="{{carte.speed}}">
		</div>
		<div class="form-group">
			<label for="name">Range</label>
			<input type="number" id="range" name="range" class="form-control" value="{{carte.range}}">
		</div>
		<div class="form-group">
			<label for="name">Healing</label>
			<input type="number" id="healing" name="healing" class="form-control" value="{{carte.healing}}">
		</div>
		<div class="form-group">
			<label for="name">Radius</label>
			<textarea type="number" id="radius" name="radius" class="form-control">{{carte.radius}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Freeze Duration</label>
			<textarea type="number" id="freezeduration" name="freezeduration" class="form-control">{{carte.freezeduration}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Stun Duration</label>
			<textarea type="number" id="stunduration" name="stunduration" class="form-control">{{carte.stunduration}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Duration</label>
			<textarea type="number" id="duration" name="duration" class="form-control">{{carte.duration}}</textarea>
		</div>
		<div class="form-group">
			<label for="name">Targets</label>
			<input type="text" id="targets" name="targets" class="form-control" value="{{carte.targets}}">
		</div>
		<div class="form-group">
			<label for="name">Count</label>
			<input type="number" id="howmuch" name="howmuch" class="form-control" value="{{carte.howmuch}}">
		</div>
		<div class="form-group">
			<label for="name">Spawn Speed</label>
			<input type="number" id="spawnspeed" name="spawnspeed" class="form-control" value="{{carte.spawnspeed}}">
		</div>
		<div class="form-group">
			<label for="name">Life Time</label>
			<input type="number" id="lifetime" name="lifetime" class="form-control" value="{{carte.lifetime}}">
		</div>
		<div class="form-group">
			<label for="name">Boost</label>
			<input type="number" id="boost" name="boost" class="form-control" value="{{carte.boost}}">
		</div>
		<div class="form-group">
			<label for="name">Shield HitPoints</label>
			<input type="number" id="shieldhitpoints" name="shieldhitpoints" class="form-control" value="{{carte.shieldhitpoints}}">
		</div>
		<div class="form-group">
			<label for="name">Death Damage</label>
			<input type="number" id="deathdamage" name="deathdamage" class="form-control" value="{{carte.deathdamage}}">
		</div>
		<div class="form-group">
			<label for="name">Dash Range</label>
			<input type="number" id="dashrange" name="dashrange" class="form-control" value="{{carte.dashrange}}">
		</div>
		<div class="form-group">
			<label for="name">Dash Damage</label>
			<input type="number" id="dashdamage" name="dashdamage" class="form-control" value="{{carte.dashdamage}}">
		</div>
		<div class="form-group">
			<label for="name">Deploy</label>
			<input type="number" id="deploy" name="deploy" class="form-control" value="{{carte.deploy}}">
		</div>
		<div class="form-group">
			<label for="name">LVL Troop Common</label>
			<input type="number" id="cmlvlcommon" name="cmlvlcommon" class="form-control" value="{{carte.cmlvlcommon}}">
		</div>
		<div class="form-group">
			<label for="name">cmlvlrare</label>
			<input type="number" id="cmlvlrare" name="cmlvlrare" class="form-control" value="{{carte.cmlvlrare}}">
		</div>
		<div class="form-group">
			<label for="name">cmlvlepic</label>
			<input type="number" id="cmlvlepic" name="cmlvlepic" class="form-control" value="{{carte.cmlvlepic}}">
		</div>
		<div class="form-group">
			<label for="name">cmlvllegend</label>
			<input type="number" id="cmlvllegend" name="cmlvllegend" class="form-control" value="{{carte.cmlvllegend}}">
		</div>
		<div class="form-group">
			<label for="file">Image</label>
			<input type="file" id="file" name="file">
		</div>
		<div class="form-group">
			{% for rarity in raritys %}
			<label for="">
				<input type="checkbox" name="raritys[]" value="{{rarity._id}}" {% if carte.raritys.indexOf(rarity._id) != -1 %}checked{% endif %} >
				{{rarity.name}}
			</label>
			{% endfor %}
		</div>
		<input type="submit" class="btn btn-primary" value="Enregistrer"/>
	</form>	

{% endblock %}