{% extends "layout.html" %}

{% block content %}

	<h2 class="titleFlux">Flux</h2>
	<a href="/new" id="accessBtn" class="btnAction">Ajouter Evenement</a>
	<hr>
	<div id="viewEventSociety" class="viewCarte">
		{% for p in eventSociety %}
			<a href="/{{p._id}}" class="carteJs" onmouseover="hover()">
				<div class="EventFlux">
					<img src="/uploads/{{p.picture}}" alt="{{p.name}}">
					<div class="blockTitleDescri">
						<h1>{{p.name}}</h1>
						<p class="description">{{p.description}}</p>
					</div>
					
				</div>
			</a>
		{% endfor%}	
	</div>

{% endblock %}