{% extends "layout.html" %}

{% block content %}

	<h2>Flux</h2>
	<a href="/new" id="accessBtn" class="btn btn-primary">Ajouter un Evenement</a>
	<hr>
	<div id="viewEventSociety" class="viewCarte">
		{% for type, eventSociety in eventSociety | groupby("type") %}
			<div style="width: 100%; height: 5px;"></div>
			{% for raritys, eventSociety in eventSociety | groupby("raritys") %}
				{% for elixircost, eventSociety in eventSociety | groupby("elixircost") %}
					{% for p in eventSociety %}
						<a href="/{{p._id}}" class="draggable carteJs" onmouseover="hover()">
							<div class="compImgElixir">
								<p class="elixirCostMini">{{p.elixircost}}</p>
								<img src="/uploads/{{p.picture}}" alt="{{p.name}}" style="width:100px;">
							</div>
						</a>
					{% endfor%}	
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</div>

{% endblock %}