{% extends "layout.html" %}

{% block content %}
	<h2>Deck Stat Builder</h2>
	<div class="contentDeck">
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
		<div class="droppable">
			
		</div>
	</div>

	<div id="draggable" style="height:50px; width:50px; background-color:black;" class="draggable">
		
	</div>
	<h2>Cartes</h2>
	<a href="/new" id="accessBtn" class="btn btn-primary">Ajouter une carte</a>
	<hr>
	<div class="viewCarte">
		{% for type, cartes in cartes | groupby("type") %}
			<div style="width: 100%; height: 5px;"></div>
			{% for raritys, cartes in cartes | groupby("raritys") %}
				{% for elixircost, cartes in cartes | groupby("elixircost") %}
					{% for p in cartes %}
						<a href="/{{p._id}}" class="draggable">
							<div class="compImgElixir">
								<p class="elixirCostMini">{{p.elixircost}}</p>
								<img src="/uploads/{{p.picture}}" alt="{{p.name}}" style="width:100px;">
							</div>
						</a>
					{% endfor%}	
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</div>

	<script>
		$(document).ready( function () {
			$('#draggable').draggable(); 
			$('.droppable').droppable();
		}); 
	</script>
{% endblock %}